<form method="post" action="/restaurants/">
  <div class="row my-3 justify-content-center">
    <label for="name" class="col-sm-2 col-form-label">Mandarin Name</label>
    <div class="col-sm-10 col-lg-5">
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
  </div>

  <div class="row my-3 justify-content-center">
    <label for="name_en" class="col-sm-2 col-form-label">English Name</label>
    <div class="col-sm-10 col-lg-5">
      <input type="text" class="form-control" id="name_en" name="name_en" required>
    </div>
  </div>

  <div class="row my-3 justify-content-center">
    <label for="category" class="col-sm-2 col-form-label">Category</label>
    <div class="col-sm-10 col-lg-5">
      <input type="text" class="form-control" id="category" name="category" required>
    </div>
  </div>

  <div class="row my-3 justify-content-center">
    <label for="rating" class="col-sm-2 col-form-label">Rating</label>
    <div class="col-sm-10 col-lg-5">
      <input type="number" min="0" max="5" step="0.1" class="form-control" id="rating" name="rating"
        required>
    </div>
  </div>

  <div class="row my-3 justify-content-center">
    <label for="location" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10 col-lg-5">
      <input type="text" class="form-control" id="location" name="location" required>
    </div>
  </div>

  <div class="row my-3 justify-content-center">
    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10 col-lg-5">
      <input type="tel" class="form-control" id="phone" name="phone" required>
    </div>
  </div>

  <div class="row my-3 justify-content-center">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10 col-lg-5">
      <textarea class="form-control" rows="3" id="description" name="description" required></textarea>
    </div>
  </div>

  <div class="row my-3 justify-content-center">
    <label for="image" class="col-sm-2 col-form-label">Image Link</label>
    <div class="col-sm-10 col-lg-5">
      <input type="url" class="form-control" id="image" name="image" placeholder="https://..." required>
    </div>
  </div>

  <div class="row my-3 justify-content-center">
    <label for="google_map" class="col-sm-2 col-form-label">Google Map Link</label>
    <div class="col-sm-10 col-lg-5">
      <input type="url" class="form-control" id="google_map" name="google_map" placeholder="https://..." required>
    </div>
  </div>

  <div class="row col-12 col-lg-7 my-3 mx-auto py-0 justify-content-end">
    <a href="/" class="ms-2 me-1 col-3 col-lg-2 btn btn-secondary">
      Cancel
    </a>
    <button type="submit" class="ms-2 me-1 col-3 col-lg-2 btn btn-primary">Save</button>
  </div>

</form>